---
import { getSessionByCookie } from "../features/supabase";
import Layout from "../layouts/Layout.astro";
import { Debug } from "astro/components";
import { getUserProjects } from "../features/gitlab";

let session;
try {
  session = await getSessionByCookie(Astro.request, Astro.response);
} catch (e) {
  console.error(e);
  return Astro.redirect("/login");
}

let result = {};
try {
  result = await getUserProjects(session);
} catch (error) {
  // @TODO: try refreshToken if the provider_token was expired.
  result = { error };
}
---

<Layout title="Dashboard">
  <header class="pb-1 bg-gradient-to-r from-kitae-start to-kitae-end">
    <div class="p-4 h-80 bg-kitae-container">
      <div class="flex justify-end">
        <div class="flex gap-2">
          <img
            class="w-6 h-6"
            src={session.user!.user_metadata.avatar_url}
            alt="User avatar"
          />
          <span>{session.user!.user_metadata.name}</span>
        </div>
      </div>
    </div>
  </header>
  <main
    class="w-10/12 m-auto -mt-24 rounded-lg p-1 bg-gradient-to-r from-kitae-start to-kitae-end"
  >
    <div class="bg-kitae-container rounded-lg p-4">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, in
        tempora adipisci, porro quidem minus facere quis nobis voluptates, sit
        ipsa molestiae autem maxime unde sequi corrupti rem quod quisquam!
      </p>
      {
        Array.isArray(result) ? (
          <ul class="flex flex-col gap-2">
            {result.map((project) => (
              <li class="bg-kitae-panel-bg flex flex-col gap-1 p-2 rounded-lg">
                <span>
                  <span class="opacity-50">{project.namespace.name} /</span>
                  <span>{project.name}</span>
                </span>
                <span class="opacity-50">{project.web_url}</span>
              </li>
            ))}
          </ul>
        ) : (
          <Debug {result} />
        )
      }
      <!-- <Debug {result} /> -->
    </div>
  </main>
</Layout>
