---
import Dashboard from "../components/dashboard/Dashboard";
import { getSession } from "../features/supabase";
import Layout from "../layouts/Layout.astro";

let session;
try {
  session = await getSession((Astro as any).cookies);
} catch (e) {
  console.error(e);
  return Astro.redirect("/login");
}

// let result = {};
// try {
//   result = await getUserProjects(session);
// } catch (error) {
//   // @TODO: try refreshToken if the provider_token was expired.
//   result = { error };
// }
---

<Layout title="Dashboard">
  <header class="pb-1 bg-gradient-to-r from-kitae-start to-kitae-end">
    <div class="p-4 h-80 bg-kitae-container">
      <div class="flex justify-end">
        <div class="flex gap-2">
          <img
            class="w-6 h-6"
            src={session.user!.user_metadata.avatar_url}
            alt="User avatar"
          />
          <span>{session.user!.user_metadata.name}</span>
        </div>
      </div>
    </div>
  </header>
  <main
    class="w-10/12 m-auto -mt-24 rounded-lg p-1 bg-gradient-to-r from-kitae-start to-kitae-end"
  >
    <div class="bg-kitae-container rounded-lg p-2 grid grid-cols-2 gap-2">
      <!-- <Dashboard client:load /> -->
      <!-- <button
        id="start-container-btn"
        class="relative flex flex-start gap-2 p-2 w-full rounded bg-neutral-700 kitae-gradient mb-9 mt-9"
      >
        <span class="relative">Test create and start container</span>
      </button> -->
      <!-- {
        Array.isArray(result) ? (
          <ul class="flex flex-col gap-2">
            {result.map((project) => (
              <li class="bg-kitae-panel-bg flex flex-col gap-1 p-2 rounded-lg">
                <span>
                  <span class="opacity-50">{project.namespace.name} /</span>
                  <span>{project.name}</span>
                </span>
                <span class="opacity-50">{project.web_url}</span>
              </li>
            ))}
          </ul>
        ) : (
          <Debug {result} />
        )
      } -->
      <!-- <Debug {result} /> -->
    </div>
  </main>
</Layout>

<script>
  // const btn = document.getElementById("start-container-btn");
  // if (btn) {
  //   btn.addEventListener("click", async () => {
  //     const result = await fetch("/api/create-instance", {
  //       headers: { "Content-Type": "application/json" },
  //     });
  //     console.log(result);
  //   });
  // }
</script>
