---
import { getSessionByCookie } from "../features/supabase";
import { Debug } from "astro/components";
import { getUserProjects } from "../features/gitlab";
import Layout from "../layouts/Layout.astro";
import DashboardPanel from "../components/DashboardPanel";
import { CreateProject } from "../components/icons/CreateProject";
import { Button } from "../components/Button";

let session;
try {
  session = await getSessionByCookie(Astro.request, Astro.response);
} catch (e) {
  console.error(e);
  return Astro.redirect("/login");
}

// let result = {};
// try {
//   result = await getUserProjects(session);
// } catch (error) {
//   // @TODO: try refreshToken if the provider_token was expired.
//   result = { error };
// }
---

<Layout title="Dashboard">
  <header class="pb-1 bg-gradient-to-r from-kitae-start to-kitae-end">
    <div class="p-4 h-80 bg-kitae-container">
      <div class="flex justify-end">
        <div class="flex gap-2">
          <img
            class="w-6 h-6"
            src={session.user!.user_metadata.avatar_url}
            alt="User avatar"
          />
          <span>{session.user!.user_metadata.name}</span>
        </div>
      </div>
    </div>
  </header>
  <main
    class="w-10/12 m-auto -mt-24 rounded-lg p-1 bg-gradient-to-r from-kitae-start to-kitae-end"
  >
    <div class="bg-kitae-container rounded-lg p-2">
      <DashboardPanel
        client:visible
        title="Create new project"
        height={54}
        expandedHeight={200}
        className="h-[400px] w-1/2"
      >
        <CreateProject slot="icon" />
        <ul class="flex flex-col p-2 gap-2 pb-4 pt-8">
          <li>
            <p class="pb-2 pt-4 pl-1">Design system</p>
            <ul class="flex flex-wrap gap-2">
              <li>
                <Button data-new-project="design-system--blank">
                  Blank project
                </Button>
              </li>
              <li>
                <Button data-new-project="design-system--from-gitlab">
                  From an existing Gitlab project
                </Button>
              </li>
            </ul>
          </li>
          <li>
            <p class="pb-2 pt-4 pl-1">Web Site</p>
            <ul class="flex flex-wrap gap-2">
              <li>
                <Button data-new-project="web-site--blank">
                  Blank project
                </Button>
              </li>
            </ul>
          </li>
          <li>
            <p class="pb-2 pt-4 pl-1">Web App</p>
            <ul class="flex flex-wrap gap-2">
              <li>
                <Button data-new-project="web-app--blank">Blank project</Button>
              </li>
            </ul>
          </li>
          <li>
            <p class="pb-2 pt-4 pl-1">Flutter</p>
            <ul class="flex flex-wrap gap-2">
              <li>
                <Button data-new-project="flutter--blank">Blank project</Button>
              </li>
            </ul>
          </li>
        </ul>
      </DashboardPanel>
      <!-- <button
        id="start-container-btn"
        class="relative flex flex-start gap-2 p-2 w-full rounded bg-neutral-700 kitae-gradient mb-9 mt-9"
      >
        <span class="relative">Test create and start container</span>
      </button> -->
      <!-- {
        Array.isArray(result) ? (
          <ul class="flex flex-col gap-2">
            {result.map((project) => (
              <li class="bg-kitae-panel-bg flex flex-col gap-1 p-2 rounded-lg">
                <span>
                  <span class="opacity-50">{project.namespace.name} /</span>
                  <span>{project.name}</span>
                </span>
                <span class="opacity-50">{project.web_url}</span>
              </li>
            ))}
          </ul>
        ) : (
          <Debug {result} />
        )
      } -->
      <!-- <Debug {result} /> -->
    </div>
  </main>
</Layout>

<script>
  const createNewProjectBtns = document.querySelectorAll("[data-new-project]");
  createNewProjectBtns.forEach((button) => {
    button.addEventListener("click", () => {
      console.log(button.getAttribute("data-new-project"));
    });
  });
  // const btn = document.getElementById("start-container-btn");
  // if (btn) {
  //   btn.addEventListener("click", async () => {
  //     const result = await fetch("/api/create-instance", {
  //       headers: { "Content-Type": "application/json" },
  //     });
  //     console.log(result);
  //   });
  // }
</script>
